.container {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 180px;
    width: 70px;


    display: flex;
    justify-content: center;
}






.bigCircle{
    position: absolute;
    bottom: 0;

    height: 70px;
    width: 70px;
    border-radius: 50%;

    /*border: 1px solid #3d1516;*/
    background-color: #3d1516;

    display: flex;
    align-items: center;
    justify-content: center;
}


.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;

    /*border: 1px solid #f11716;*/
    background-color: #f11716;


    display: flex;
    align-items: center;
    justify-content: center;

}

.circle img {
    height: 30px;
    width: 30px;
}




/**/

.messenger {
    text-align: center;
}

.messenger img{
    height: 50px;
    width: 50px;
}


/*STATES*/
.messengers_enter_active {
    animation: messengers_enter_active_animation .3s forwards;
}
.messengers_exit_active {
    animation: messengers_enter_active_animation .3s reverse;
}

@keyframes messengers_enter_active_animation {
    0%{
        opacity: 0;
        transform: translateY(+80px);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }
}









.menu {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #3d1516;

    position: absolute;
    bottom: -2px;

    animation: menu_enter_done_animation 1.6s infinite linear;
}

.menu_active {

}


@keyframes menu_enter_done_animation {
    0%{
        transform: scale(0);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}