/*NAVBAR*/
.navbar_visible {
    z-index: 3000;

    position: relative;
    width: 100%;
    height: 50px;
    display: flex;

    background-color: rgba(128,128,128,1.0);
}

.navbar {
    z-index: 3000;

    width: 1200px;
    height: 50px;
    display: flex;
    position: fixed;

    animation: navbar_appearance_animation 0.4s forwards;

    background-color: rgba(128,128,128,0.1);
}

@keyframes navbar_appearance_animation {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}


/*LOGO*/
.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo img{
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

/*PHONE*/
.phone {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/*MENU*/
.menuPanel {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.closeButton {
    height: 20px;
    width: 20px;
}

.closeButton:hover{
    animation: close_button_animation 0.1s forwards;
}

@keyframes close_button_animation {
    100%{
        transform: scale(0.8);
    }
}

.menuButton {
    height: 15px;
    width: 22px;
}

.menuButton:hover {
    animation: menu_button_animation 0.1s forwards;
}

@keyframes menu_button_animation {
    100%{
        transform: scaleY(0.8);
    }
}